@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: hsl(200, 15%, 8%);
  --body: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --elements-hover: hsl(0, 0%, 92%);
  --input-text: hsl(0, 0%, 52%);
}

.dark {
  --primary-text: hsl(0, 0%, 100%);
  --body: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --elements-hover: hsl(208, 26%, 20%);
  --input-text: hsl(0, 0%, 52%);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply flex flex-col gap-10 min-h-screen text-base text-primary-text bg-body;
  }

  main {
    @apply max-[375px]:px-3.5 px-6 md:px-8;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--elements) inset;
    -webkit-text-fill-color: var(--primary-text);
  }

  span {
    @apply font-semibold;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-body;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-text border border-solid border-body rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-input-text;
  }
}

@layer utilities {
  .customTransition {
    @apply transition-all duration-200 ease-in-out;
  }
}
